@model IEnumerable<Que.Models.Quiz> //en liste over quiz-objekter

<h1>List of quizes (@ViewBag.CurrentViewName View)</h1>

<a href="/Quiz/Table">Table</a>

<div class="row row-cols-1 row-cols-md-3 g-4">
    @foreach (var quiz in Model)
    {
        <div class="col">
            <div class="card h-100">
               <img src="@quiz.ImageUrl" class="card-img-top" alt="@quiz.Name">

                <div class="card-body">do
                    <h5 class="card-title">@quiz.Name</h5>
                    <p class ="card-text">@quiz.Description</p>
                </div>

                <div class="card-footer text-center">
                    <a href="/Quiz/Start/@quiz.QuizId" class="btn btn-primary">StartQuiz</a>
                </div>
            </div>
        </div>
      